*{
  margin: 0;
  padding: 0;
}

.app{
 background-image: url('./assets/background-image.png'); 
 background-color: #F0E8DD;
 width: 100vw;
 height: 100vh;
 background-size: cover;
}

.iframe{
width: 100%;
height: 60vh;
}
.icom-btn{
  background-color: #003F8F;
}

@media (max-width: 767px) {

  .app{
        display: flex;
    flex-direction: column;
    justify-content: normal;
    gap: 8rem;
  }

  .icom-btn{
    font-size: .6rem;
  }

.iframe{
  height: 25vh;
}
.navbar-brand{
  img{
    max-width: 20rem;
  }
}
}